.calculator-container {
    min-width: 900px;
    background-color: var(--softBlack);
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.calculator-body {
    max-width: 600px;
    margin: auto;
}

.calculator-container > * {
    padding: 1.5rem;
}

.calculator-display-window {
    min-height: 200px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    text-align: right;
}

.value {
    color: var(--softWhite);
    font-size: 4rem;
    width: 100%;
    margin: auto;
}

.expression {
    height: 25px;
    color: var(--grey);
    font-size: 1.5rem;
    width: 100%;
    margin: auto;
}

.button-row {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin: 1rem 0;
}

.body-container {
    display: flex;
    flex-flow: row;
}

.history-container {
    padding: 1.5rem;
    margin-left: 25px;
    min-width: 900px;
    min-height: 100%;
}

.history {
    font-size: 2rem;
    color: var(--purple);
    padding: 1rem 0;
}

.history-container h2 {
    font-size: 2rem;
    color: var(--purple);
}